@typeparam TItem
<table class="border data-table">
    <thead id="@(new Random().Next(100000))">
        <tr>
            @foreach (var prop in typeof(TItem).GetProperties())
            {
                <th>@(prop.Name)</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (TItem item in Data ?? Array.Empty<TItem>())
        {
            <tr>
                @foreach (var prop in typeof(TItem).GetProperties())
                {
                    <td>@(prop.GetValue(item))</td>
                }
            </tr>
        }
    </tbody>
</table>

@code
{
    [Parameter]
    public IEnumerable<TItem> Data { get; set; }

    [Parameter]
    public RenderFragment<TItem> ChildContent { get; set; }
}