<CascadingValue Value="this">
    <div class="collapsible card">
        <div class="collapsible-header card-header" data-toggle="collapse"
             @onclick="e => Expanded = !Expanded">
            @if (HeaderTemplate == null)
            {
                <h4 class="collapsible-header-text">
                    <i class="fa fa-caret-down @(Expanded ? "" : "collapsed") collapsible-header-caret"></i>
                    @Header
                </h4>
            }
            else
            {
                @HeaderTemplate
            }
        </div>
        <div class="card-body collapsible-body @(Expanded ? "" : "collapsed")">
            <div class="row">
                <div class="col" data-animation="fade">
                    @ChildContent
                </div>
            </div>
        </div>
    </div>
</CascadingValue>

@code {
    [Parameter]
    public RenderFragment HeaderTemplate { get; set; }
    [Parameter]
    public string Header { get; set; } = "Lava Collapsible";
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool _expanded = true;
    [Parameter]
    public bool Expanded
    {
        get => _expanded;
        set
        {
            _expanded = value;
            OnCollapsedChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<bool> OnCollapsedChanged { get; set; }
}
