@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">        
    <a href="https://github.com/AminEsmaeily/lava" style="position:fixed; top:0; right:0;">
        <img loading="lazy" width="149" height="149" 
                src="https://github.blog/wp-content/uploads/2008/12/forkme_right_white_ffffff.png?resize=149%2C149" 
                class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>

    <div class="content px-4">
        @Body
    </div>
</div>
