/* General styles */
.border {
    border-radius: 3px;
}

/* DatePicker */
.date-picker {
    display: inline-block;
    background: white;
}

    .date-picker input {
        border: none;
        min-height: 20px;
        min-width: 30px;
        margin-inline-start: 3px;
    }

    .date-picker input:focus {
        outline: none;
    }

    .date-picker .popup-btn{
        display:inline-block;
        height:100%;
        padding: 5px 10px;
        cursor:pointer;
        transition: background-color linear 200ms;
    }

        .date-picker .popup-btn:hover {
            background-color: #eee;
        }

        .date-picker .popup-btn:active {
            background-color: #ccc;
        }


/* DataTable */
.data-table thead {
    background-color: #4CAF50;
    color: white;
}

.data-table th {
    font-weight: 100;
}

.data-table th,td{
    padding: 3px 5px;
}

.collapsible{
    border-width: 0;
}

    .collapsible .collapsible-header {
        cursor: pointer;
        padding: 5px;
        background-color: unset;
    }

        .collapsible .collapsible-header .collapsible-header-text {
            margin: 0px !important;
        }

        .collapsible .collapsible-header .collapsible-header-caret {
            width: 15px;
        }

    .collapsible .collapsible-body {
        padding-top: 5px;
    }