/* General styles */
.border {
    border-radius: 5px;
    border: 1px solid #ddd;
}

.clickable {
    cursor: pointer;
    transition: background-color linear 200ms, opacity linear 100ms;
}

    .clickable:hover {
        background-color: #ddd;
    }

    .clickable:active, .clickable.active {
        background-color: #ccc;
    }

    .clickable.disabled{
        opacity: 0.5;
        cursor: default;
    }

.dropdown-menu{
    padding:0 !important;
}

/*===============LavaDatePicker================*/

.lava-date-picker {
    display: flex;
    background: white;
    transition: border linear 0.1s;
}

    .lava-date-picker.error {
        border: 1px solid #ed0000 !important;
    }

    .lava-date-picker .popup-btn {
        height: 100%;
        padding: 5px 10px;
        flex: 0 0 34px;
    }

        .lava-date-picker .popup-btn.focused {
            background-color: #ccc;
        }

    .lava-date-picker .lava-base-input {
        flex: 1;
    }

    .lava-date-picker.has-placeholder {
        margin-top: 30px;
    }

    .lava-date-picker .placeholder {
        transform: translate(5px, -80%) scale(1, 1);
    }

        .lava-date-picker .placeholder.active {
            transform: translate(-10%, -200%) scale(0.8, 0.8);
        }

    .lava-date-picker .lava-base-input{
        background:inherit;
    }

.lava-date-picker-header {
    display: flex;
    border-bottom: 1px solid #ddd;
    min-width: 300px;
}

.lava-date-picker-today {
    font-size: xx-small;
    text-align: center;
    width: 45px;
    padding: 5px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .lava-date-picker-today.hidden {
        visibility: collapse;
    }

.lava-date-picker-prev-month, .lava-date-picker-prev-month {
    flex: 0 0 35px;
    padding: 5px 10px;
}

.lava-date-picker-month-title {
    flex: 1;
    text-align: center;
    padding: 5px;
}

.lava-date-picker-day-header-container{
    display:flex;
    padding: 5px 0;
}

.lava-date-picker-week, .lava-date-picker-season{
    display: flex;
    padding: 0 5px;
}

.lava-date-picker-block {
    width: 50px;
    text-align:center;
    border-radius: 5px;
}

.lava-date-picker-day-header{
    font-size:x-small;
    color:#888;
}

.lava-date-picker-day {
    height: 30px;
    line-height: initial;
    border-radius: 5px;
    padding-top:3px;
    margin-top:3px;
    position:relative;
}

    .lava-date-picker-day.holiday {
        color: rgba(255, 50, 10, 1);
    }

    .lava-date-picker-day.today {
        color:rgb(50, 200, 14);
    }

    .lava-date-picker-day img{
        position:absolute;
        right:5px;
        top: 0px;
    }

.lava-date-picker-other {
    color: rgba(0, 0, 0, 0.5)
}
    .lava-date-picker-other.holiday {
        color: rgba(255, 50, 10, 0.5);
    }

.lava-date-picker-month {
    height: 40px;
    line-height: initial;
    border-radius: 5px;
    padding: 10px 5px;
    margin-top: 3px;
    position: relative;
    flex: 1;
}

    .lava-date-picker-month.current-month {
        background: #32a852;
    }

/*================Collapsible=================*/
.collapsible{
    border-width: 0;
}

    .collapsible .collapsible-header {
        cursor: pointer;
        padding: 5px;
        background-color: unset;
    }

        .collapsible .collapsible-header .collapsible-header-text {
            margin: 0px !important;
        }

        .collapsible .collapsible-header .collapsible-header-caret {
            width: 15px;
            transition-duration: 0.3s;
            transition-property: transform;
        }

            .collapsible .collapsible-header .collapsible-header-caret.collapsed {
                transform: rotate(-90deg);
                transform-origin: center center;
                -webkit-transform: rotate(-90deg);
                -webkit-transform-origin: center center;
            }

    .collapsible .collapsible-body {
        padding-top: 5px;
        transition: max-height linear 0.3s;
        opacity: 1;
        display:unset;
    }

        .collapsible .collapsible-body.collapsed {
            animation: collapse-content 0.5s normal;
            -webkit-animation: collapse-content 0.5s normal;
            animation-fill-mode:forwards;
        }

@-webkit-keyframes collapse-content {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        height:0;
    }
}

/*====================LavaBaseInput===================*/
.lava-base-input{
    background-color: #fff;
    position:relative;
    display:flex;
}

    .lava-base-input input[type=text], input[type=password] {
        display: flex;
        flex-shrink: 0;
        padding: 3px 5px;
        width: 100%;
        border-width: 0;
        background:inherit;
    }

    .lava-base-input span {
        color: #d30000;
        right: 20px;
        top: 3px;
        position: relative;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity linear, 0.2s;
    }

        .lava-base-input span.active {
            visibility: visible;
            opacity: 1;
        }


/*=================LavaInput====================*/
.lava-input .lava-base-input {
    border-radius: 5px;
    border: 1px solid #ddd;
}

.lava-input.has-placeholder {
    padding-top: 30px;
}

/*================PlaceHolder==================*/
.placeholder {
    position: absolute;
    width: 100%;
    opacity: 0.3;
    top: 72%;
    transform: translate(5px, -50%) scale(1, 1);
    pointer-events: none;
    transition: transform linear 0.2s, opacity linear 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    .placeholder.active {
        opacity: 1;
        transform: translate(-10%, -160%) scale(0.8, 0.8);
        pointer-events: all;
    }